.show-data {
  width: 100%;
}

.show-data th {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px;
  text-align: justify;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: rgb(3, 70, 171);
  letter-spacing: 0.3px;
}

.show-data th:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.show-data-content td {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  text-align: justify;
  padding: 10px 20px;
}
.show-data-content a {
  text-decoration: none;
}
.no-data td {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 20px 30px;
  text-align: center;
}
