.registerLink {
  border: 0px;
  margin: 10px;
  font-size: 20px;
}

.alignment {
  display: flex !important;
  justify-content: center !important;
}

table {
  margin: 30px 0px;
}
table a {
  text-decoration: none;
}

th {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  text-align: center !important;
}
td {
  text-align: center;
  vertical-align: middle;
}
tr {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}

.pagination {
  display: flex;
  gap: 10px;
}

.search-control {
  width: 500px !important;
  padding: 20px 10px;
}
.search-row {
  display: flex;
  justify-content: space-around;
}
.form-select {
  font-size: 14px !important;
}
.table-component {
  margin: 50px 0px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin: 10px 5px;

  padding: 10px;
}
.align-items {
  font-size: 18px;
  align-items: center;
}

.nav a {
  text-decoration: none;
  text-align: center;
  padding: 10px 30px;

  background-color: rgb(0, 133, 250);
  color: rgb(255, 255, 255);
  border-radius: 8px;
}

.nav a:hover {
  background-color: blueviolet;
  color: rgb(253, 253, 253);
}
.submit-data {
  margin: 30px;
}
.submit-data button {
  background: grey;
  color: azure;
  border-radius: 8px;
  border: 0px;
  padding: 5px 20px;
}
.submit-data button:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 6, 11);
}
