.component {
  margin: 20px 20px 20px;
}
.component button {
  width: 440px !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 42, 115, 0.825) !important;
}
.component button:hover {
  background-color: rgb(0, 34, 96) !important;
  color: white !important;
}

.error-message {
  color: red;
  margin: 5px 30px;
}
.nav-link {
  display: flex;
  text-align: center;
  margin: 10px;
}
.nav-link a {
  border-radius: 10px;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 110px;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 1, 1);
  text-align: center;
}
.nav-link a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
.fields {
  display: flex;
  width: 1000px;
  align-items: center;
}
.fields input,
textarea,
select {
  width: 440px !important;
}
