.component {
  margin: 20px 20px 20px;
}
.component button {
  width: 440px !important;
  color: rgb(255, 255, 255) !important;
  background-color: rgba(0, 42, 115, 0.825) !important;
}
.component button:hover {
  background-color: rgb(0, 34, 96) !important;
  color: white !important;
}

.error-message {
  color: red;
  margin: 5px 30px;
}
.nav-link {
  display: flex;
  text-align: center;
  margin: 10px;
}
.nav-link a {
  border-radius: 10px;
  margin-top: 15px;
  text-decoration: none;
  padding: 10px 110px;
  color: rgb(255, 255, 255);
  background-color: rgb(1, 1, 1);
  text-align: center;
}
.nav-link a:hover {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border: 1px solid black;
}
.fields {
  display: flex;
  width: 690px;
  align-items: center;
}
.fields input,
textarea,
select {
  width: 440px !important;
}

table {
  margin: 30px 0px;
}
table a {
  text-decoration: none;
}

th {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px !important;
  text-align: center !important;
  vertical-align: middle;
  font-size: 14px;
}
td {
  text-align: center;
  vertical-align: middle;
  font-size: 18px;
}
td img {
  height: 80px;
  width: 120px;
  border: 2px solid;
}
tr {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px !important;
}
.delete {
  color: red;
  cursor: pointer;
}
td a {
  margin: 5px;
}

.table-comp {
  padding: 0px 10px 20px;
  margin: 50px 50px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.head-label {
  color: rgb(0, 89, 255);
  margin: 30px 0px 0px;
  padding: 5px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  word-spacing: 0.5px;
}
.novalidate-field {
  display: flex;
  justify-content: flex-start;
}
.alignment {
  display: flex !important;
  justify-content: center !important;
}
.page-item {
  margin: 10px;
}
